* {
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: center;
}

.box, .selected-box {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    cursor: pointer;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
    cursor: not-allowed;
}

.selected-box {
    cursor: no-drop;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 2px solid black;
}

.gameboards {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 20px;
}

#computerboard>.box:hover {
    background-color: rgb(243, 128, 128);
}

#playerboard>.box {
    cursor: auto;
}

.hit, .miss {
    cursor: not-allowed;
}

.hit {
    background-color: #d0312d;
}

.miss {
    background-color: skyblue;
}

.hit, .miss {
    cursor: not-allowed;
}

form {
    border: 2px solid black;
    padding: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20vh;
}

input{
    position: relative;
    top: 20px;
}

#player-submit-btn {
    margin: 20px;
    position: relative;
    left: 40px;
    top: 20px;
}

.announcement{
    text-align: center;
    position: relative;
    top: 40vh;
}